---
layout:   default
title:    Home
---

<section id="content" class="clearfix">
  <div class="container">

  <div class="spacer-40px"></div>

  <div class="container">
    <div class="row">
      <div class="span8">
        {% for post in site.posts limit:1 %}
          <h1>{{ post.title }}</h1>
          <small>{{ post.date | date:"%Y-%m-%d" }} - {{ post.author }}</small>

          <hr/>
          <div class="spacer-20px"></div>
          <div>{{ post.content }}</div>
        {% endfor %}
      </div>
      <div class="span4">
        <ul>
        {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date:"%Y-%m-%d" }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>