---
layout:   default
title:    Home
---

<section id="content" class="clearfix">
  <div class="container">

  <div class="spacer-40px"></div>

  <div class="container">
    <div class="row">
      <div class="span8">
        {% for post in site.posts limit:1 %}
          <h1>{{ post.title }}</h1>
          <small>{{ post.date | date:"%Y-%m-%d" }} - {{ post.author }}</small>

          <hr/>
          <div class="spacer-20px"></div>
          <p><i>{{ post.description }}<i></p>
          <div>{{ post.content }}</div>
        {% endfor %}
      </div>
      <div id="archive-list" class="span4">
        <h4>Archives</h4>
        {% for post in site.posts %}
          <div>
            <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date:"%Y-%m-%d" }}
            <div class="description">{{ post.description }}</div>
          </div>
          <hr />
        {% endfor %}
      </div>
    </div>
  </div>
</section>